<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>alrobison.com</title>
        <link rel="icon" href="https://github.com/gtrspctr/Portfolio/blob/main/HTTP_Server_Flask/static/favicon.ico"
    </head>
    <body style='background-color:black'>
        <center>
            <h1 style='color:green'>Welcome to Al's site!</h1>
        </center>
        <p style='color:green'>
            Here is another line.<br>
            And another.
        </p>
        <p style='color:green'>
            Here is another paragraph.<br>
            With another line.
        </p>
    </body>
</html>